@use '../00-settings/variables' as *;
@use '../01-tools/mixins' as *;

.card {
  background-color: $bg-default;
  border: $border-thin solid $border-default;
  border-radius: $radius-lg;
  overflow: hidden;
  @include transition;

  &:hover {
    border-color: $color-primary;
  }
}

.card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card__body {
  padding: $spacing-4;
}

.card__title {
  @include text-style($font-size-lg, $font-weight-semibold);
  margin-bottom: $spacing-2;
}

.card__description {
  @include text-style($font-size-sm, $font-weight-regular);
  color: $gray-600;
  margin-bottom: $spacing-3;
}

.card__footer {
  padding-top: $spacing-3;
  border-top: $border-thin solid $border-default;
}
