@use '../../../../styles/00-settings/variables' as *;
@use '../../../../styles/01-tools/mixins' as *;

.loading-state {
  // 2. Display
  @include flex-center;
  flex-direction: column;
  gap: $spacing-4;

  // 3. Box Model
  padding: $spacing-12 $spacing-6;
}

.loading-state__message {
  // 3. Box Model
  margin: 0;

  // 6. Tipografía
  @include text-style($font-size-lg, $font-weight-medium, $line-normal);
  color: var(--text-secondary);
}
