@use '../../../../styles/00-settings/variables' as vars;

.alert {
  display: flex;
  gap: vars.$spacing-4;
  padding: vars.$spacing-4 vars.$spacing-6;
  border-radius: vars.$radius-md;
  border: 1px solid;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  &--success {
    background-color: rgba(vars.$success, 0.1);
    border-color: vars.$success;
    color: darken(vars.$success, 20%);

    .alert__icon {
      color: vars.$success;
    }
  }

  &--warning {
    background-color: rgba(vars.$warning, 0.1);
    border-color: vars.$warning;
    color: darken(vars.$warning, 20%);

    .alert__icon {
      color: vars.$warning;
    }
  }

  &--error {
    background-color: rgba(vars.$error, 0.1);
    border-color: vars.$error;
    color: darken(vars.$error, 20%);

    .alert__icon {
      color: vars.$error;
    }
  }

  &--info {
    background-color: rgba(vars.$info, 0.1);
    border-color: vars.$info;
    color: darken(vars.$info, 20%);

    .alert__icon {
      color: vars.$info;
    }
  }

  &__icon {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }

  &__icon-svg {
    width: 100%;
    height: 100%;
  }

  &__content {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity vars.$transition-base;
    flex-shrink: 0;

    &:hover {
      opacity: 1;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
