@use '../../../../styles/00-settings/variables' as *;
@use '../../../../styles/01-tools/mixins' as *;

.form-group {
  margin-bottom: $spacing-4;
}

.form-label {
  @include text-style($font-size-sm, $font-weight-medium);
  display: block;
  margin-bottom: $spacing-2;
  color: $text-default;

  .required {
    color: $error;
  }
}

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: $spacing-3 $spacing-4;
  border: $border-thin solid $border-default;
  border-radius: $radius-md;
  font-family: $font-primary;
  font-size: $font-size-base;
  @include transition;

  &:focus {
    outline: none;
    border-color: $color-primary;
    box-shadow: 0 0 0 3px rgba($color-primary, 0.1);
  }

  &:disabled {
    background-color: $gray-100;
    color: $gray-500;
    cursor: not-allowed;
  }

  &--error {
    border-color: $error;

    &:focus {
      box-shadow: 0 0 0 3px rgba($error, 0.1);
    }
  }
}

.form-select {
  background-color: $bg-default;
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23353535' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right $spacing-3 center;
  padding-right: $spacing-10;

  option {
    padding: $spacing-2;
    color: $text-default;
  }

  option:disabled {
    color: $gray-400;
  }
}

.form-textarea {
  resize: vertical;
  min-height: 6.25rem;
}

.form-help {
  @include text-style($font-size-xs, $font-weight-regular);
  margin-top: $spacing-2;
  color: $gray-500;
}

.form-error {
  @include text-style($font-size-xs, $font-weight-regular);
  margin-top: $spacing-2;
  color: $error;
}
