@use '../../../../styles/00-settings/variables' as vars;

.icon {
  // 2️⃣ DISPLAY
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  &--small {
    width: vars.$spacing-4;
    height: vars.$spacing-4;
  }

  &--medium {
    width: vars.$spacing-6;
    height: vars.$spacing-6;
  }

  &--large {
    width: vars.$spacing-8;
    height: vars.$spacing-8;
  }
}
