@use '../../../../styles/00-settings/variables' as vars;

.icon {
  // 2️⃣ DISPLAY
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  
  // Estilos para i-lucide
  i-lucide,
  ::ng-deep svg {
    display: block;
  }

  &--small {
    width: 16px;
    height: 16px;
    
    i-lucide,
    ::ng-deep svg {
      width: 16px;
      height: 16px;
    }
  }

  &--medium {
    width: 20px;
    height: 20px;
    
    i-lucide,
    ::ng-deep svg {
      width: 20px;
      height: 20px;
    }
  }

  &--large {
    width: 24px;
    height: 24px;
    
    i-lucide,
    ::ng-deep svg {
      width: 24px;
      height: 24px;
    }
  }
}

