@use '../../../../styles/00-settings/variables' as vars;

.tag {
  display: inline-flex;
  align-items: center;
  gap: vars.$spacing-2;
  padding: vars.$spacing-2 vars.$spacing-3;
  border-radius: vars.$radius-sm;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: vars.$font-weight-medium;
  background-color: vars.$gray-100;
  color: vars.$text-default;
  border: 1px solid vars.$border-default;

  &--primary {
    background-color: rgba(vars.$color-primary, 0.1);
    color: vars.$color-primary;
    border-color: vars.$color-primary;
  }

  &--success {
    background-color: rgba(vars.$success, 0.1);
    color: vars.$success;
    border-color: vars.$success;
  }

  &--warning {
    background-color: rgba(vars.$warning, 0.1);
    color: vars.$warning;
    border-color: vars.$warning;
  }

  &--error {
    background-color: rgba(vars.$error, 0.1);
    color: vars.$error;
    border-color: vars.$error;
  }

  &--removable {
    padding-right: vars.$spacing-2;
    
    .tag__close {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      margin-left: vars.$spacing-1;
      opacity: 0.7;
      transition: opacity vars.$transition-base;

      &:hover {
        opacity: 1;
      }
    }
  }
}
